body{
    margin:0px;
    overflow: hidden;
    background-color: black;
}
#texttype{
    position: fixed;
    z-index: 1;
    color: white;
    height: 100%;
    padding: 20px;
    font-size: 48px;
    font-size: 67px;
    /*font-weight: 900;*/
   /* font-family: 'Source Code Pro', monospace;*/
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: -2px;
}
#three{
    position: fixed;
}

canvas{
    opacity: 0.6;
}
.shine{
    overflow:visible;
    color: #FFFFFF;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}